@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    max-height: 1000vh;
    max-width: 100vw;
}
.big{
    height: 600vh;
}
.listtext h2{
    font-size: 14.4px;
    font-weight: 400;
}
.listtext p{
    font-size: 11.2px;
    font-weight: 300;
}
.listtext{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.hovercont{
    display: block;
    height: 60px;   
}
.displayed{
    display: none;
    margin-top: 18px;
    height: max-content;
    padding-bottom: 20px;
    background-color: white;
    width: 300px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.icon{
    width:30px;
}
.icon1{
    width: 30px;
}
.texts{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    width: 300px;
}
.texts:hover{
    background-color: rgb(20, 20, 43);
    transition: .47s;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}
.hover{
    display: block;
    height: 20px;
}
.subhero2 h1{
    font-size: 16px;
    font-weight: 400;
}
.content li:hover .displayed{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.links{
    display: flex;
    gap: 50px;
}
.move{
    position: relative;
    right: 18px;
    display: flex;
    gap: 32px;
}
nav{
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 10;
}
.arrow{
    position: relative;
    left: 62px;
    bottom: 18px;
}
.arrow1{
    position: relative;
    left: 67px;
    bottom: 18px;
}
.hover h1{
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.logo{
    position: relative;
    bottom: 2px;
}
nav{
    background-color: rgb(247,247, 252);
    height: 14.2vh;
    gap: 162px;
    padding-left: 62px;
    display: flex;
    align-items: center;
}
.hero{
    background-color: rgb(20,20, 43);
    height: 90vh;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color: inherit;
}
.sign{
    position: relative;
    left: 24.5vh;
}
.create{
    padding: 18.5px 42px;
    background-color: rgb(3, 164, 56);
    border-radius: 50px;
    color: white;
    margin-left: 20px;
    text-align: center;
    position: relative;
    top: 1px;
}
.create:hover{
    background-color: rgb(1, 110, 37);
    transition: 1s;
}
.bhero{
    display: flex;
    gap: 120px;
    padding-top: 28px;
}
.subhero{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 27px 67px;
}
.subhero h1{
    font-size: 50.542px;
    line-height: 50.542px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
}
.subhero p{
    color:rgb(252, 252, 252);
    font-size: 16.392px;
    line-height: 25.954px;
    letter-spacing: -0.5px;
    font-weight: 200;
    width: 420px;
}
span{
    color: rgb(161,239,187);
}
.start{
    padding: 20px;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: 17px;
    font-weight: 400;
    background-color: rgb(3,164,56);
    text-decoration: none;
    width: 200px;
}
.start:hover{
    background-color: rgb(1, 110, 37);
    transition: 1s;
}
.stores{
    display: flex;
    gap: 15px;
    margin-top: 5.3%;
    align-items: center;
}
.subhero2{
    height: max-content;
    width: max-content;
    padding: 20px 40px;
    position: relative;
    top: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
}
.minilogo{
    width: 40px;
    margin: 10px auto;
}
.nft{
    width: 20px;
}
.select{
    display: flex;
    gap: 10px;
    align-items: center;
    display: block;
}
.cryptolist{
    display: flex;
    gap: 10px;
    line-height: 40px;
}
.cryptoimg{
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(239,240,247);
    padding: 20px;
}
.front{
    display: flex;
    background-color: rgb(239,240,247);
    align-items: center;
    width:350px;
    padding: 20px;
    border-radius: 10px;
    height: 52px;
}
.frontcont{
    display: flex;
    gap: 5px;
    margin-right: 10px;
}
.front input{
    border-left: 1px solid rgb(183,184,189);
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-color: rgb(239,240,247);
}
.crypto .select:hover .cryptoimg{
    display: block;
}
.buynsell li{
    list-style-type: none;
}
.buynsell li ul li{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.underline{
    display: flex;
    justify-content: center;
    width: 55px;
    border-bottom: 5px solid rgb(3, 164, 56);
}
.trade{
    display: flex;
    gap: 150px;
    padding-bottom: 10px;
    margin-left:60px;
    border-bottom:1px solid rgb(239,240,247);
}
.receive{
    font-size: 13.6px;
    font-weight: 300;
    color: rgb(110, 113, 145);
}
.receive:nth-child(1){
    margin-bottom: 10px;
}
.receive1{
    font-size: 13.6px;
    font-weight: 300;
    color: rgb(110, 113, 145);
}
.straight{
    height: 60px;
}
.crypto:last-child{
    position: relative;
    bottom: 25px;
}
.crypto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.body{
    height: 155vh;
    display: flex;
    flex-direction: column;
}
.step h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
}
.step p{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    width: 300px;
    letter-spacing: -0.5px;
    text-align: center;
    position: relative;
    right: 70px;
}
.bodycont{
    width: 800px;
    margin: 77px 253px;
    display: flex;
    gap: 20px;
}
.step{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.steppic{
    width: 200px;
    height: 400px;
}
.bodyh h1{
    text-align: center;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    color: rgb(20, 20, 43);
    margin-top: 167px;
}
.square{
    width: 130px;
    height: 138px;
    position: relative;
    left: 81.5vw;
    bottom: 5.5vw;
}
.main{
    max-width: 608px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(252,252,252);
    margin: 20px auto;
    gap: 45px;
    padding-left: 10px;
    padding-top: 27px;
    justify-content: center;
}
.signuplogo{
    width: 113px;
    height: 82px;
}
.top h2{
    font-weight: 700;
    color: rgb(26, 32, 44);
    font-size: 32px;
    line-height: 38.4px;
    font-family: 'Segoe UI', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-top: 1px;
    flex-direction: column;
    padding-right: 10px;
}
.top h1{
    font-size: 44px;
    line-height: 66px;
    font-weight: 400;
    color: rgb(26, 32, 44);
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.top p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgb(26, 32, 44);
}
.names{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: start;
}
.row{
    display: flex;
    gap: 10px;   
}
form{
    padding: 22px 30px;
    display: grid;
    gap: 20px;
}
.names p{
    font-size: 14px;
    line-height: 21px;
    color: rgb(26, 32, 44);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.names input{
    border-radius: 16px;
    border: none;
    color: rgb(160,174,192);
    background-color: rgb(239,240,247);
    font-size: 16px;
    border: 3px solid rgb(239,240,247);
    outline: none;
    font-family: 'Inter', sans-serif;
    width: 260px;
    padding: 20px;
    padding-left: 18px;
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 56px;
}
.names input::placeholder{
    color: rgb(160,174,192);
}
.names input:hover{
    background-color: rgb(226, 232, 240);
    border-color: rgb(226, 232, 240);
    transition: .5s;
}
.names input:focus{
    border: 3px solid rgb(118,235,165);
    transition: .5s;
}
.row .names .longbar{
    width:530px;
}
.row:nth-child(3){
    margin-top: 10px;
}
.phone{
    display: flex;
}
.phone select{
    padding: 10px;
    padding-right: 40px;
    padding-left:18px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 60px;
    top: 3px;
    font-weight: 500;
    color: rgb(51,51,51);
    border-radius: 19px;
    background-color: rgb(239,240,247);
    border: 3px solid rgb(239,240,247);
    position: relative;
    left: 12px;
    z-index: 1;
}
.phone select:focus{
    border: 3px solid rgb(118,235,165);
}
.phone select:hover{
    border: 3px solid rgb(118,235,165);
    background-color: rgb(226, 232, 240);
}
.row:nth-child(5){
    display: flex;
    flex-direction: column;
}
.phone input{
    padding: 20px;
    padding-left: 150px;
    width: 525px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    position: relative;
    right: 130px;
    border-radius: 16px;
    border: 3px solid rgb(239,240,247);
    outline: none;
    background-color: rgb(239,240,247);
}
.phone  input::placeholder{
    color: rgb(160,174,192);
}
.phone input:hover{
    background-color: rgb(226, 232, 240);
    border-color: rgb(226, 232, 240);
    transition: .5s;
}
.phone input:focus{
    border: 3px solid rgb(118,235,165);
    transition: .5s;
}
.row:nth-child(6){
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.row:nth-child(6) select{
    padding: 20px;
    padding-left: 20px;
    width: 530px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 16px;
    border: 3px solid rgb(239,240,247);
    outline: none;
    background-color: rgb(239,240,247);
}
.row:nth-child(7) label{
    font-size: 16px;
    line-height: 24px;
    color: rgb(26, 32, 44);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.row:nth-child(7) input{
    color: rgb(226,232,240);
    accent-color: rgb(56,161,105);
    transform: scale(1.3);
}
.btn{
    padding: 18px;
    background-color: rgb(3,164,56);
    width: 530px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
}
.row2 p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 530px;
    line-height: 21px;
    text-align: center;
    color: rgb(26, 32, 44);
}
.row1{
    display: flex;
    flex-direction: column;
    max-width: 530px;
    gap: 20px;
}
.row1 .google{
    display: flex;
    background-color: rgb(237,242,247);
    border:1px solid rgb(220,220,220);
    height: 55px;
    align-items: center;
    margin: 0px auto;
    border-radius: 20px;
    width: 200px; 
    gap: 10px;
    padding-left: 10px;
}
.row1 .google:hover{
    background-color: rgb(226, 232, 240);
}
.row1 .google p{
    color: rgb(26, 32, 44);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.row1 p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px auto;
}
.row1 a{
    color: rgb(6,195,68);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
}
.top1{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding-top: 1px;
    flex-direction: column;
    padding-right: 10px;
}
.top1 h1{
    font-size: 44px;
    line-height: 66px;
    margin-top: 23px;
    font-weight: 400;
    color: rgb(26, 32, 44);
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.top1 p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgb(26, 32, 44);
}
.names h6{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: rgb(26, 32, 44);
}
.row h5{
    font-size: 16px;
    line-height: 24px;
    color: rgb(3,164,56);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
.secondpage{
    background-color: rgb(229,246,235);
    padding-top:150px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.secondh{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secondh h1{
    font-size: 39.614px;
    font-weight: 700;
    width: 650px;
    margin: 0px auto;
    text-align: center;
}
.secondh p{
    font-size: 14.2px;
    font-weight: 300;
    text-align: center;
}
.secondcont{
    display: grid;
    grid-template-columns: 324px 324px 324px;
    gap: 15px;
    position: relative;
    justify-content: center;
}
.cards{
    background-color: white;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 324px;
    padding: 0px 10px;
    box-shadow: 0 16px 20px rgb(50 50 50 / 10%);
    z-index: 1;
}
.cards h2{
    font-size: 19.2px;
    font-weight: 400;
    text-align: center;
}
.cards p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.cards img{
    width: 80px;
}
.square1{
    width: 130px;
    height: 138px;
    position: relative;
    left: 180px;
    fill: rgb(195,214,215);
    bottom: 150px;
}
.thirdpage{
    padding-top: 150px;
    display: grid;
    height: 120vh;
    grid-template-rows: repeat(2, 150px);
}
.thirdp{
    position: relative;
    width: 75px;
    left: 190px;
    top:140px;
}
.thirdpageh{
    margin: 0px auto;
    display: flex;
}
.square2{
    width: 130px;
    height: 138px;
    position: relative;
    top: 40px;
    left: 155px;
}
.thirdpagecont{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    margin: 0px auto;
}
.box{
    width: 480px;
    height: 312px;
    background: #fcfcfc;
    box-shadow: 0 16px 20px rgba(50,50,50,.1);
    border-radius:16px;
    display: flex;
    padding: 32px;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.box p, .box h6{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.quotes{
    width: 32px;
    height: 28px;
}
.thirdpageh h1{
    font-size: 39.614px;
    font-weight: 700;
    width: 550px;
    text-align: center;
}
.fourthpage{
    background-color: rgb(2,138,81);
}